// main: style.less
// variables
@import "variables_mixins.less";
@blue-darker: #062744;
// FONTS
@font-face {
    font-family: 'social-icons';
    src: url('fonts/social-icons.eot?xhzyig');
    src: url('fonts/social-icons.eot?xhzyig#iefix') format('embedded-opentype'), url('fonts/social-icons.ttf?xhzyig') format('truetype'), url('fonts/social-icons.woff?xhzyig') format('woff'), url('fonts/social-icons.svg?xhzyig#social-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="social-icon-"], [class*=" social-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'social-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.social-icon-mail:before {
    content: "\ea84";
}

.social-icon-twitter:before {
    content: "\ea96";
}

.social-icon-google-plus:before {
    content: "\ea8b";
}

.social-icon-facebook:before {
    content: "\ea90";
}

.social-icon-instagram:before {
    content: "\ea92";
}

// main
body {
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
}

// FONTS
h1 {
    font-family: 'Oswald', sans-serif;
}

h2 {
    font-family: 'Oswald', sans-serif;
}

h3 {
    font-family: 'Oswald', sans-serif;
}

h4 {
    font-family: 'Oswald', sans-serif;
}

h5 {
    font-family: 'Oswald', sans-serif;
}

h6 {
    font-family: 'Oswald', sans-serif;
}

@media @sm {
    .container {
        padding-left: 50px;
        padding-right: 50px;
    }
}

.content {
    background-color: @blue-darker;
    margin-top: 30px;
}

div.custom-background {
    height: 100vh;
    background-size: cover;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}

// top navigation
.main-navigation {
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: transparent;
    box-shadow: none;
    > .container {
        background-color: @blue-darker;
    }
}

.nav-menu {
    background-color: @blue-darker;
    float: left;
}

.nav-menu > li > span {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-weight: 500;
    color: #fff;
}

.menu-item:first-child > a {}

.nav-menu > li > a {
    color: #fff;
    &:hover {
        color: #1692FF;
    }
}

// top menu social
.nav-menu-social {
    float: right;
}

// google map
.map__container {
    margin: 20px 0;
}

// footer
.blog-footer {
    background-color: @blue-darker;
    border-top: none;
}