// main: style.less
// helpers
.content {
    background-color: #fff;
    margin-top:20%; 
}

div.custom-background {
    height: 100vh;
    background-size: cover;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}

.main-navigation {
    position: fixed;
    width: 100%;
    z-index: 100;

}